<div class="top-bar">
    <img class="title" src="../assets/icons/tmonitoring.png">
    <div class="toolbar">
        <div class="menu" *ngIf="isMenuOpen" [@menuAnimation]>
            <img src="../assets/icons/gitlab.svg"
                 pTooltip="Gitlab"
                 tooltipPosition="left"
                 (click)="addWidget('gitlab')"/>
            <img src="../assets/icons/grafana.svg"
                 pTooltip="Grafana"
                 tooltipPosition="left"
                 (click)="addWidget('grafana')"/>
            <img src="../assets/icons/kubernetes.svg"
                 pTooltip="Kubernetes"
                 tooltipPosition="left"
                 (click)="addWidget('kubernetes')"/>
            <img src="../assets/icons/prometheus.svg"
                 pTooltip="Alert Manager"
                 tooltipPosition="left"
                 (click)="addWidget('alert-manager')"/>
            <img src="../assets/icons/sonarqube.svg"
                 pTooltip="Sonar"
                 tooltipPosition="left"
                 (click)="addWidget('sonarqube')"/>
        </div>
        <div class="item toggle"
             pTooltip="Add a module"
             tooltipPosition="left"
             showDelay="1000"
             (click)="isMenuOpen = !isMenuOpen"
             [@toggleAnimation]="isMenuOpen">+
        </div>
        <div class="item"
             pTooltip="Import the configuration"
             (click)="displayImportConfiguration = true">
            <i class="fa fa-2x fa-file-import"></i>
        </div>
        <div class="item"
             pTooltip="Share the configuration"
             (click)="shareConfiguration()">
            <i class="fa fa-2x fa-file-export"></i>
        </div>
    </div>
</div>

<div class="alert-danger" *ngIf="alertLevel == 2"></div>
<div class="container">
    <gridster [options]="options" (change)="onDashboardChange()">
        <gridster-item [item]="item" *ngFor="let item of dashboard">
            <app-gitlab
                    *ngIf="item.component === 'gitlab'"
                    [id]="dashboard.indexOf(item)"
            ></app-gitlab>
            <app-alert-manager
                    *ngIf="item.component === 'alert-manager'"
                    [id]="dashboard.indexOf(item)"
            ></app-alert-manager>
            <app-kubernetes
                    *ngIf="item.component === 'kubernetes'"
                    [id]="dashboard.indexOf(item)"
            ></app-kubernetes>
            <app-grafana
                    *ngIf="item.component === 'grafana'"
                    [id]="dashboard.indexOf(item)"
            ></app-grafana>
            <app-sonarqube
                    *ngIf="item.component === 'sonarqube'"
                    [id]="dashboard.indexOf(item)"
            ></app-sonarqube>
        </gridster-item>
    </gridster>
</div>

<p-toast position="top-center"></p-toast>

<p-dialog header="Import configuration" [(visible)]="displayImportConfiguration">
    <div class="import-config">
        <div class="ui-inputgroup">
            <textarea type="textarea"
                      pInputTextarea
                      placeholder="Configuration"
                      [(ngModel)]="base64Config">
                </textarea>
        </div>
        <div class="ui-inputgroup buttons">
            <button pButton
                    type="button"
                    icon="fa fa-check"
                    label="Import"
                    (click)="importConfiguration()"></button>
            <button pButton
                    type="button"
                    class="ui-button-secondary"
                    label="Cancel"
                    (click)="closeImportConfiguration()"></button>
        </div>
    </div>
</p-dialog>
