.measures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  .measure {
    display: flex;
    position: relative;
    height: 6vh;
    width: 200px;
    min-width: 200px;

    &:after {
      content: '';
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      border: 0.5px solid #ababab;
    }

    & > * {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 2px;
      height: 100%;
    }

    .type {
      font-size: 16px;
      width: 100%;
      padding-right: 12px;

      span {
        white-space: nowrap;
      }

      .fa {
        position: relative;
        -webkit-text-fill-color: #a3a3a3;
        font-size: 24px;
        width: 40px;

        .badge {
          position: absolute;
          top: -10px;
          right: -4px;
          font-size: .7em;
          color: #a3a3a3;
          -webkit-text-fill-color: #a3a3a3;
          width: 18px;
          height: 18px;
          text-align: center;
          line-height: 18px;
        }
      }

      .rating-a {
        -webkit-text-fill-color: #34a835;
      }

      .rating-b {
        -webkit-text-fill-color: #77a83b;
      }

      .rating-c {
        -webkit-text-fill-color: #a7a82f;
      }

      .rating-d {
        -webkit-text-fill-color: orange;
      }

      .rating-e {
        -webkit-text-fill-color: #e91224;
      }

      & > * {
        margin: 2px;
      }
    }

    .value {
      justify-content: flex-end;
      padding: 6px;
      width:100%;
      text-align: right;
    }


  }
}
