.measures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  .measure {
    display: flex;
    height: 6vh;
    margin: 6px;
    width: 200px;
    min-width: 200px;

    & > * {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 2px;
      height: 100%;
    }

    .type {
      border: black 1px solid;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      font-size: 16px;
      width: 100%;
      padding-right: 12px;

      .fa {
        position: relative;
        -webkit-text-fill-color: #a3a3a3;
        font-size: 24px;

        .badge {
          position: absolute;
          top: -10px;
          right: -10px;
          font-size: .7em;
          color: #a3a3a3;
          -webkit-text-fill-color: #a3a3a3;
          width: 18px;
          height: 18px;
          text-align: center;
          line-height: 18px;
        }
      }

      .rating-a {
        -webkit-text-fill-color: #34a835;
      }

      .rating-b {
        -webkit-text-fill-color: #77a83b;
      }

      .rating-c {
        -webkit-text-fill-color: #a7a82f;
      }

      .rating-d {
        -webkit-text-fill-color: orange;
      }

      .rating-e {
        -webkit-text-fill-color: #e91224;
      }

      & > * {
        margin: 2px;
      }
    }

    .value {
      border: black 1px solid;
      border-left: none;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      padding: 6px;
      font-size: 26px;
      width: 100%;
    }


  }
}
