<app-widget
        title="Sonar"
        [subtitle]="settings.projectKey"
        [id]="id"
        [settings]="settings"
        (settingsChange)="onSettingsChange()"
        [isReady]="isReady">
    <div body class="measures" *ngIf="!!measures">
        <div class="measure">
            <div class="type">
                <i [class]="'fa fa-2x fa-mug-hot rating-' + getRating(measures.maintenabilityRating)">
                    <div class="badge">{{getRating(measures.maintenabilityRating).toUpperCase()}}</div>
                </i>
                <span>Debt</span>
            </div>
            <div class="value">{{measures.debt}}</div>
        </div>
        <div class="measure">
            <div class="type">
                <i [class]="'fa fa-2x fa-lock-open rating-' + getRating(measures.securityRating)">
                    <div class="badge">{{getRating(measures.securityRating).toUpperCase()}}</div>
                </i>
                <span>Vulnerabilities</span>
            </div>
            <div class="value">{{measures.vulnerabilities}}</div>
        </div>
        <div class="measure">
            <div class="type">
                <i [class]="'fa fa-2x fa-bug rating-' + getRating(measures.reliabilityRating)">
                    <div class="badge">{{getRating(measures.reliabilityRating).toUpperCase()}}</div>
                </i>
                <span>Bugs</span>
            </div>
            <div class="value">{{measures.bugs}}</div>
        </div>
        <div class="measure">
            <div class="type">
                <i class="fa fa-2x fa-radiation code-smells"></i>
                <span>Code Smells</span>
            </div>
            <div class="value">{{measures.codeSmells}}</div>
        </div>
        <div class="measure">
            <div class="type">
                <i [class]="'fa fa-2x fa-vial'"></i>
                <span>Coverage</span>
            </div>
            <div class="value">{{measures.coverage | truncate }} %</div>
        </div>
        <div class="measure">
            <div class="type">
                <i [class]="'fa fa-2x fa-recycle'"></i>
                <span>Duplication</span>
            </div>
            <div class="value">{{measures.duplication}}</div>
        </div>
    </div>
    <div settings>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-globe"></i></span>
            <input type="text" pInputText placeholder="Host" [(ngModel)]="settings.host">
        </div>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-id-badge"></i></span>
            <input type="text" pInputText placeholder="Project Key" [(ngModel)]="settings.projectKey">
        </div>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
            <input type="password" pInputText placeholder="Token" [(ngModel)]="settings.token">
        </div>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-sync"></i></span>
            <input type="number" pInputText placeholder="Refresh rate" [(ngModel)]="settings.refreshRate">
            <span class="ui-inputgroup-addon">sec.</span>
        </div>
    </div>
</app-widget>
