<app-widget
    title="Gitlab"
    [id]="id"
    [settings]="settings"
    (settingsChange)="onSettingsChange()"
    [isReady]="isReady">
    <div body>
        <div *ngFor="let pipeline of pipelines" class="pipeline">
            <button
                    *ngIf="pipeline.status === 'passed'"
                    pButton
                    label="Passed"
                    icon="fa fa-check"
                    class="status ui-button ui-button-success"
            ></button>
            <button
                    *ngIf="pipeline.status === 'failed'"
                    pButton
                    label="Failed"
                    icon="fa fa-times"
                    class="status ui-button ui-button-danger"
            ></button>
            <button
                    *ngIf="pipeline.status === 'pending'"
                    pButton
                    label="Pending"
                    icon="fa fa-spinner"
                    class="status ui-button ui-button-secondary"
            ></button>
            <button
                    *ngIf="pipeline.status === 'skipped'"
                    pButton
                    label="Skipped"
                    icon="fa fa-forward"
                    class="status ui-button ui-button-secondary"
            ></button>
            <div class="branch">
                <i class="fas fa-code-branch fa-xs"></i>
                {{pipeline.branch}}
            </div>

            <div class="commit">
                <div class="commit-name">
                    <i class="fas fa-project-diagram fa-xs"></i>
                    {{pipeline.commit.name}}
                </div>
                <div class="commit-user">
                    <img class="avatar" [src]="pipeline.commit.user.avatarUrl"/>
                    {{pipeline.commit.user.name}}
                </div>
            </div>

            <div class="date">
                <i class="fa fa-calendar-alt"></i>
                {{pipeline.date | date: 'short'}}
            </div>

            <div class="failed-reason">

            </div>
        </div>
    </div>
    <div settings>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-globe"></i></span>
            <input type="text" pInputText placeholder="Host" [(ngModel)]="settings.host">
        </div>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-id-badge"></i></span>
            <input type="text" pInputText placeholder="Project ID" [(ngModel)]="settings.projectId">
        </div>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
            <input type="password" pInputText placeholder="Token" [(ngModel)]="settings.token">
        </div>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-sync"></i></span>
            <input type="number" pInputText placeholder="Refresh rate" [(ngModel)]="settings.refreshRate">
            <span class="ui-inputgroup-addon">sec.</span>
        </div>
    </div>
</app-widget>
