<app-widget
        title="Grafana"
        [id]="id"
        [settings]="settings"
        [isReady]="isReady">
    <div body>
        <div class="graphs">
            <div class="graph" *ngFor="let graph of graphs" [innerHTML]="graph">
            </div>
        </div>
    </div>
    <div settings>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-globe"></i></span>
            <input type="text" pInputText placeholder="Snippet" [(ngModel)]="newGraphSnippet">
        </div>
        <div class="buttons">
            <button pButton type="button" icon="fa fa-plus" label="Add" (click)="addGraph()"></button>
        </div>
    </div>
</app-widget>
