<app-widget
    title="Alert Manager"
    subtitle="Display alerts"
    [id]="id"
    [settings]="settings"
    (settingsChange)="onSettingsChange()"
    [isReady]="isReady">
    <div body>
        <div *ngIf="alerts.length === 0" class="no-alert">
            <span>No alert.</span>
        </div>
        <div *ngIf="alerts.length > 0">
            <div *ngFor="let alert of alerts" class="alert">
                <div class="labels">
                    <div *ngFor="let label of getLabels(alert)">
                        <div class="label">
                            <button pButton type="button" [label]="label.key + ': ' + label.value"
                                    class="ui-button-danger">
                            </button>
                        </div>

                    </div>
                </div>
                <div class="annotations">
                    <div *ngFor="let annotation of getAnnotations(alert)">
                        <div class="annotation">
                            <button pButton type="button" [label]="annotation.key + ': ' + annotation.value"
                                    class="ui-button-secondary">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div settings>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-globe"></i></span>
            <input type="text" pInputText placeholder="Host" [(ngModel)]="settings.host">
        </div>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-sync"></i></span>
            <input type="text" pInputText placeholder="Refresh rate" [(ngModel)]="settings.refreshRate">
            <span class="ui-inputgroup-addon">sec.</span>
        </div>
    </div>
</app-widget>

